- if user_signed_in?
  %li
    %form.navbar-form.navbar-right
      %input.form-control{placeholder: "Search...", type: "text"}
  %li.dropdown
    %a#dropdownMenu1.btn.btn-link.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown"}
      #{current_user.first_name} (#{current_user.email})
      %span.caret
    %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
      - if user_signed_in?
        - if current_user.admin?
          %li{role: "presentation"}
            %li= link_to 'Admin', '/admin'
          %li{role: "presentation"}
            %li= link_to 'Users', users_path
      %li{role: "presentation"}
        %li= link_to 'Profile', edit_user_registration_path
      %li.divider{role: "presentation"}
      %li{role: "presentation"}
        %li= link_to 'Sign out', destroy_user_session_path, method: 'delete'
  %li
    .empty
