!!!
%html
  %head
    %base{:href => "/"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Clinicaltrials'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Clinicaltrials'}"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      %div{'ng-app' => 'ClinicalTrials'}
        = yield
    %footer.footer.navbar-fixed-bottom.text-center
      .container
        %h5.span © 2015 LeCo Development Ltd | Made with ♥ in Liverpool - United Kingdom
